@model _2013204637.Retiro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Retiro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ATM.DescATM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATM.DescATM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuenta.DescCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta.DescCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescRetiro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescRetiro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRetiro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRetiro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RetiroId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
